/* *************************** CSS GENERALE *************************** */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS titolo */

.title {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #edf2f4;
  background-color:#006634;
  text-shadow: 1px 1px #2b2d42;
  border-bottom: 1px solid #2b2d42;
}

.title h1 {
  font-size: 3.5rem;
}

.main-container{
  position: relative;
  height: calc(100vh - 150px);
}

.main-container::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("../img/train-station.jfif");
  background-position: bottom;
  background-size: cover;
  filter:  opacity(20%) sepia(30%);
}

.main-container-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}


.main-container h3 {
  font-size: 2.5rem;
  padding: 2rem;
  padding-right: 50px;
  color: #006634;
  font-weight: bold;
  text-shadow: 1px 1px #2b2d42;
}

/* CSS FORM */
.main-container .form {
  padding: 30px 0;
  width: 30%;
}

.form input {
  width: 100%;
  margin-bottom: 10px;
}

.form label {
  color: #006634;
  font-size: 1.2em;
  font-weight: bold;
}

/* CSS BUTTONS */

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}

#btn-invia {
  padding: 10px 12px;
  background-color: #006634;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.8px;
  border-color: #2b2d42;
}

#btn-annulla {
  padding: 5px 5px;
  background-color: #edf2f4;
  color: #2b2d42;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-color: #2b2d42;
}

/* CSS TICKET */
#ticket {
  padding-bottom: 20px;
  margin-top: 40px;
}

#ticket table {
  text-align: center;
  border-collapse:collapse;
  border: 1px solid #2b2d42;
}

#ticket thead {
  color: #fff;
  background-color: #006634;
}

#ticket th {
  padding: 20px 15px;
  min-width: 70px;
  text-transform: uppercase;
}

#ticket tbody {
  background-color: #fff;
}

#ticket td {
  padding: 30px 15px;
  font-size: 1.1rem;
}

.hidden {
  opacity: 0;
  transition: all 0.5s;
}

 .show {
  opacity: 1;
  transition: all 0.5s;
}
